* {
    margin: 0;
    padding: 0;
}

header{
    height: 650px;
    background-image: url(../imagens/661582.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;    
    display: flex;
    justify-content: space-between;
}   

.logo {
    width: 30px;
    height: 30px;
    margin-left:200px;
    margin-top: 20px;
}

.logo:hover {
    transform: scale(1.05);
    cursor:pointer;
}

ul {
    display: flex;
    margin-right: 150px;
}

.lista {
    list-style: none;
    margin-top: 35px;
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
}

.lista2 {
    list-style: none;
    text-decoration: none;
}

button {
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}




/* Fim do header */






.lista2 {
    list-style: none;
    text-decoration: none;
}

